body {
  background-color: #3cbaff;
}
/* Position the nav items on the right side */
.container {
  text-align: center;
  margin-top: 60px;
  justify-content: center;
}
#searching h2 {
  color: white;
  font-size: 50px;
}
.navbar-nav {
  margin-left: auto;
  font-weight: bold;
}
#flightNumber {
  border-radius: 15px;
  width: 300px;
  height: 50px;
}
.nav-link {
  color: azure;
}
#searchForm button[type="submit"] {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff930f;
  color: #ffffff;
  width: 200px;
  height: 50px;
  border-radius: 15px;
  font-size: 30px;
  font-weight: bolder;
  border-color: transparent;
}
.navbar {
  background-color: white;
}
#searching {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  padding-top: 10%;
}

.card {
  width: 200px;
  height: 200px;
  margin: 20px;
  border-radius: 55px;
}
/* Custom CSS styles */

.row {
  display: flex;
  justify-content: center;
}

.col-sm-6 {
  flex-basis: 20%;
  padding: 0px;
}
