.navbar{
  border-bottom: .5px solid rgba(0, 0, 0, 0.415);
}
.navbar-nav {
  margin-left: auto;
  font-weight: bold;

}
.nav-link {
  color: black;
}
.navbar {
  background-color: white;
}

.nav-link:hover{
  color: #FF930F;
}

#flightNumber {
  border-radius: 15px;
  width: 300px;
  height: 50px;
}

.iata-search{
  width: 55%;
}

form{
  display: flex;
  margin-left: 20px;
}

button{
  margin-left: 5px;
  display: inline-block;
  
}



.btn-outline-success{
 border-color: #FF930F;
} 

.btn{
  color: black;
}

.card {
  width: 100%;
  height: 100%;
  background-color: #ffab20;
  border: 5px solid #3CBAFF;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.list-group-item {
  border: none;
  padding: 5px 0;
}

.list-group-item:first-child {
  border-top: none;
}

.list-group-item:last-child {
  border-bottom: none;
}

.list-group-item:not(:last-child) {
  margin-bottom: 10px;
}




